<h1>New game</h1>
<!--p>Find me in app/views/pages/new.html.erb</p-->
<div class="container">
  <div class="main">
    <% @letters.each do | letter | %>
    <div class="box">
      <%= letter %>
    </div>
    <% end  %>
  </div>
  <br>
  <div>
    <h2>What is the longest word you can find?</h2>
    <form action="/score" maethod ="POST">
      <input type="text" name="your_word">
      <input type="hidden" name="passedletters" value = "<%= @letters.join %>">
      <input type="submit">
    </form>
  </div>
</div>

