<h1>Results</h1>
<p>Find me in app/views/pages/score.html.erb</p>
Letters available: <%= @grid %>
<br><br>
Your letter: <%= @yourword %>
<br><br>
Result: <%= @result %>
<br><br>
Your score: <%= @score %>
